<div class="row expanded collapse">
	<div class="columns small-12">
		<div class="top-bar">
			<div class="top-bar-left">
				<h5><i class="fa-sharp fa-solid fa-microchip fa-lg"></i> System Information</h5>
			</div>
			<div class="top-bar-right">
				<ul class="menu">
					<li><button type="button" class="button" onclick="get_system_info();"><i class="fa-solid fa-bolt fa-lg"></i></button></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="row expanded">
	<div class="columns small-12">
	</div>
</div>

<div class="row expanded collapse">
	<div class="columns small-12">
		<table>
			<thead>
				<tr>
					<th>Table Header</th>
					<th>Table Header</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Content Goes Here</td>
					<td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>