<div class="row expanded sub-toolbar align-middle">
	<div class="columns small-6">
		<h5><i class="fa-solid fa-gauge-max fa-lg"></i> Dashboard</h5>
	</div>
	<div class="columns small-6">
		<h5>&nbsp;</h5>
	</div>
</div>

<div class="row expanded collapse">
	<div class="columns small-12">
		<div class="top-bar">
			<div class="top-bar-left">
				&nbsp;
			</div>
			<div class="top-bar-right">
				<ul class="menu">
					<li><button type="button" class="button" onclick="get_hardware_info();"><i class="fa-solid fa-bolt fa-lg"></i></button></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="row expanded">
	<div class="columns small-12">
	</div>
</div>

<div class="row expanded collapse">
	<div class="columns small-12">
		<table>
			<thead>
				<tr>
					<th>Table Header</th>
					<th>Table Header</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>